a {
  color: #0C3EB8;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

a:hover,
a:hover h1,
a:hover .h1,
a:hover h2,
a:hover .h2,
a:hover h3,
a:hover .h3,
a:hover h4,
a:hover .h4,
a:hover h5,
a:hover .h5,
a:hover h6,
a:hover .h6,
a:hover p {
  color: #0C3A96;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.text-white,
a.text-white,
a.text-white:hover {
	color: #ffffff !important;
}

code,
kbd,
pre,
samp {
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
	font-size: 1em
}

pre {
	margin-top: 0;
	margin-bottom: 1rem;
	overflow: auto
}

code {
	font-size: 87.5%;
	color: #e83e8c;
	word-break: break-word
}

pre code {
	font-size: inherit;
	color: inherit;
	word-break: normal
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  background-color: #ffffff;
  font-size: 14px;
  line-height: 1.5;
  color: #545454;
}

body {
  background-color: transparent;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.6;
  font-weight: 400;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.4;
}

.site-header {
	position: relative;
	background-color: #1C0E2E;
	padding: 10px 0;
}
.site-header__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
}
.header-menu {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.menu-toggle {
	display: none;
}
.logo {
	position: relative;
}
.logo a.navbar-brand {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	padding: 0;
	margin: 0;
}
.nav ul {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

}
.nav ul li {
	list-style: none;
	padding: 0 20px;
}
.nav ul li a {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #fff;
	font-weight: 600;
}
.nav ul li a.active {
	color: #FFA415;
}
.btn-booking {
	background: none;
	border: 1px solid #FFA415;
	border-radius: 40px;
	padding: 10px 24px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	margin-left: 20px;
	margin: 6px 0px 6px 20px;
}
.btn-booking:hover {
	background: #FFA415;
}
.hero-header {
	position: relative;
}
.hero-header ul {
	padding: 0;
	margin: 0;
}
.about-us {
	position: relative;
	background: url('../images/bg_about.jpg');
	background-size: cover;
	background-attachment: fixed;
	padding: 50px 0;
}
.about-us__wrap {
	position: relative;
	background: #fff;
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
	margin-top: -100px;
}
.about-us__image {
	width: 50%;
}
.about-us__image img {
	max-width: 100%;
}
.about-us__inner {
	width: 50%;
	padding: 0 15px 0 30px;
}
.about-us__inner h5 {
	font-family: 'Taviraj', serif;
	font-weight: 500;
	font-size: 12px;
	color: #FFA415;
	text-transform: uppercase;
	margin: 0;
}
.about-us__inner h1 {
	font-family: 'Taviraj', serif;
	font-size: 36px;
	color: #5E0096;
	font-weight: 400;
	margin: 0;
	z-index: 2;
}
.about-us__inner h1::before {
	content: '';
	display: block;
	width: 140px;
	height: 100px;
	background: url('../images/bg_decor.png') no-repeat;
	position: absolute;
	top: 0;
}
.about-us__content {
	margin-top: 45px;
}
.about-us__content p {
	font-size: 14px;
}
.about-us__content a {
	font-style: italic;
	font-size: 13px;
	color: #3F3362;
	border-bottom: 1px solid #FFA415;
}
.about-us__assets {
	width: 70%;
	margin: 80px auto 0;
}
.about-us__assets p {
	font-style: italic;
	font-size: 20px;
	text-align: center;
	font-family: 'Taviraj', serif;
	color: #fff;
	font-weight: 300;
}
.home-menu {
	position: relative;
	padding-top: 90px;
	padding-bottom: 50px;
}
.home-menu__top {
	position: relative;
}
.home-menu__top h5 {
	font-family: 'Taviraj', serif;
	font-size: 12px;
	color: #FFA415;
	text-transform: uppercase;
	margin-bottom: 0;
}
.home-menu__top h2 {
	color: #5E0096;
	font-family: 'Taviraj', serif;
	font-size: 36px;
	font-weight: 400;
}
.home-menu__top h2::before {
	content: '';
	display: block;
	width: 140px;
	height: 100px;
	background: url('../images/bg_decor.png') no-repeat;
	position: absolute;
	top: 0;
}
.home-menu__inner {
	position: relative;
	margin-top: 45px;
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(2, 1fr);
}
.home-menu__item img {
	max-width: 100%;
}
.home-menu__item--content {
	padding: 20px 15px;
}
.home-menu__item--content h3 a{
	font-size: 18px;
	font-family: 'Taviraj', serif;
	color: #FCB215;
	text-transform: uppercase;
}
.home-menu__item--content h3 a:hover {
	color: #5E0096;
}
.home-menu__item--content a.seemore {
	font-size: 13px;
	color: #3F3362;
	font-style: italic;
	border-bottom: 1px solid #FCB215;
}
.home-menu__item--content a.seemore:hover {
	color: #5E0096;
}
.home-service {
	position: relative;
	background: url('../images/bg_service.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	padding: 80px 0;
}
.home-service__wrap {
	position: relative;
	display: grid;
	grid-gap: 60px;
	grid-template-columns: repeat(2,1fr);
}
.home-service__image {
	border: 1px dotted #9A3DD7;
	border-radius: 100%;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.home-service__content {
	text-align: center;
	margin-top: 30px;
}
.home-service__content h3 {
	color: #FCB215;
	font-family: 'Taviraj', serif;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 15px;
}
.home-service__content p {
	font-size: 14px;
	color: #fff;
}
.commit-footer {
	width: 70%;
	margin: 0 auto;
	text-align: center;
	padding: 80px 0;
	position: relative;
}
.commit-footer p {
	color: #5E0096;
	font-family: 'Taviraj', serif;
	font-size: 20px;
	font-weight: 300;
	font-style: italic;
}
.commit-footer::after {
	content: '';
	display: block;
	width: 116px;
	height: 80px;
	background: url('../images/quote.png') no-repeat center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.site-footer__wrap {
	position: relative;
	display: grid;
	grid-gap: 30px;
	padding-bottom: 70px;
	grid-template-columns: repeat(2,1fr);
}
.site-footer__item--top {
	background: url('../images/bg_footer.png') no-repeat left center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-position: 15px;
}
.site-footer__item--top .img {
	width: 48px;
	height: 48px;
	background: #FCB215;
	border: 2px solid #fff;
	border-radius: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.site-footer__item--top h3 {
	font-size: 18px;
	color: #000;
	font-weight: 600;
	width: calc(100% - 50px);
	margin: 0;
	padding-left: 10px;
}
.site-footer__item--content {
	margin-top: 20px;
}
.site-footer__item--content ul {
	padding: 0;
	margin: 0;
}
.site-footer__item--content ul li{
	list-style: none;
	font-weight: 400;
	font-size: 14px;
}
.site-footer__item--content ul li span {
	font-weight: 600;
	color: #FFA415;
}
.site-footer__item--content ul li a {
	color: #FFA415;
	font-weight: 600;
}
.site-footer__item--content ul li:last-child a {
	color: #2A1C44;
	font-weight: 400;
	font-style: italic;
}
.site-footer__item--face {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 10px;
}
.site-footer__item--face h3 {
	font-family: 'Taviraj', serif;
	font-size: 18px;
	font-weight: 600;
	margin-left: 10px;
	margin-bottom: 0;
}
.site-footer {
	background: #FFF9EF;
}
.footer-bottom {
	position: relative;
	background-color: #1C0E2E;
	background-repeat: no-repeat;
}
.footer-bottom::before {
	content: '';
	display: block;
	height: 6px;
	width: 100%;
	background: url('../images/bg_frame.png') no-repeat top;
	position: absolute;
	top: -5px;
}
.footer-bottom__wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 12px 0;
}
.footer-bottom__wrap p {
	color: #fff;
	margin: 0;
}
.footer-bottom__wrap ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}
.footer-bottom__wrap ul li {
	list-style: none;
	margin-left: 20px;
}

/*CSS ABOUT US*/
.about-us__wrap--content {
	width: 77%;
	position: relative;
	padding: 30px 15px;
}
.about-us__wrap--content h5 {
	font-family: 'Taviraj', serif;
	font-size: 12px;
	font-weight: 500;
	color: #FFA415;
	text-transform: uppercase;
	margin: 0;
}
.about-us__wrap--content h1 {
	font-family: 'Taviraj', serif;
	font-size: 36px;
	font-weight: 400;
	color: #5E0096;
	margin: 0 0 45px;
}
.about-us__wrap--content h1::before{
	content: '';
	display: block;
	width: 140px;
	height: 100px;
	background: url('../images/bg_decor.png') no-repeat;
	position: absolute;
	top: 0;
}
.about-us__wrap--content .entry-content {
	border-bottom: 1px solid #F1E4F9;
}
.about-us__wrap--content .entry-content h2{
	font-family: 'Taviraj', serif;
	font-weight: 600;
	color: #1C0E2E;
	font-size: 14px;
	margin: 30px 0 15px;
}
.about-us__wrap--content .entry-content img {
	margin: 15px auto;
	display: table;
	max-width: 100%;
}
.about-us__wrap--sidebar {
	width: 23%;
}
.about-us__wrap--sidebar img {
	max-width: 100%;
	margin-bottom: 15px;
}
.related-post {
	position: relative;
	padding: 30px 0;
}
.related-post h3 {
	font-size: 18px;
	color: #1C0E2E;
	font-family: 'Taviraj', serif;
	font-weight: 600;
	margin-bottom: 30px;
}
.related-post ul {
	margin: 0;
	padding: 0;
}
.related-post ul li{
	list-style: none;
	margin-bottom: 10px;
}
.related-post ul li a {
	font-size: 14px;
	font-weight: 500;
	color: #000;
	display: flex;
	align-items: center;
}
.related-post ul li a::before {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	margin-right: 10px;
	background: url('../images/top-right.png') no-repeat;
}
.related-post ul li a:hover {
	color: #5E0096;
}
/*CSS MENU2*/
.main-menu {
	position: relative;
	background: #FFF9EF;
}
.main-menu__wrap {
	width: 66%;
	margin: 20px auto;
}
.main-menu__wrap a.goback {
	font-size: 16px;
	color: #1C0E2E;
	font-weight: 600;
}
.main-menu__wrap a.goback:hover {
	color: #5E0096;
}
.main-menu__inner {
	position: relative;
	padding: 0;
	margin: 0;
}
.main-menu__inner li {
	list-style: none;
}
.main-menu__inner .slick-prev {
	width: 48px;
	height: 48px;
	background: url('../images/left.jpg') no-repeat;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
}
.main-menu__inner .slick-next {
	width: 48px;
	height: 48px;
	background: url('../images/right.png') no-repeat;
	position: absolute;
	top: 50%;
	right: 0;
	z-index: 2;
}
.main-menu__inner .slick-prev:focus,
.main-menu__inner .slick-next:focus {
	outline: 0;
	border: 0;
}
/*CSS BOOK*/
.about-us__form {
	width: 50%;
	padding: 50px 0;
	padding-right: 60px;
}
.about-us__form h5 {
	font-family: 'Taviraj', serif;
	text-transform: uppercase;
	color: #FFA415;
	font-size: 12px;
	font-weight: 500;
	margin: 0;
}
.about-us__form h1 {
	font-family: 'Taviraj', serif;
	color: #5E0096;
	font-size: 36px;
	font-weight: 400;
	margin-bottom: 40px;
}
.about-us__form h1::before{
	content: '';
	display: block;
	width: 140px;
	height: 100px;
	background: url('../images/bg_decor.png') no-repeat;
	position: absolute;
	top: 40px;
}
.about-us__form form label{
	width: 100%;
	position: relative;
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 10px;
}
.about-us__form form label.booking-date,
.about-us__form form label.booking-time {
	width: 50%;
	float: left;
}
.about-us__form form label.booking-time {
	padding-left: 30px;
}
.about-us__form form label input,
.about-us__form form label select {
	width: 100%;
	border: 1px solid #2A1C44;
	border-radius: 8px;
	padding: 10px 15px;
}
.about-us__form form label textarea {
	width: 100%;
	border: 1px solid #2A1C44;
	border-radius: 8px;
	padding: 10px 15px;
}
.about-us__form form input.btn-submit {
	background: #FFA415;
	color: #fff;
	padding: 10px 24px;
	font-size: 16px;
	font-weight: 700;
	border-radius: 40px;
	border: 1px solid #FFA415;
}
.about-us__form form input.btn-submit:hover {
	background: #5E0096;
	border: 1px solid #5E0096;
}
.about-us__maps {
	width: 50%;
}
.about-us__maps h3 {
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	color: #2A1C44;
}
.about-us__maps h2 {
	font-family: 'Taviraj', serif;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 15px;
	color: #1C0E2E;
}
.about-us__maps p {
	font-size: 14px;
	color: #2A1C44;
	margin-bottom: 5px;
}
.about-us__maps p a {
	color: #2A1C44;
}
.about-us__maps p a:hover {
	color: #5E0096;
}
.main-news {
	position: relative;
	background: #fff;
	padding: 15px 30px;
	margin-top: -100px;
	padding-bottom: 40px;
}
.main-news__item {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid rgba(154, 61, 215, 0.2);
}
.main-news__item:last-child {
	border-bottom: 0;
}
.main-news__item--content {
	width: 75%;
	padding-right: 30px;
}
.main-news__item--content h2 {
	font-family: 'Taviraj', serif;
	font-size: 14px;
	margin: 0;
}
.main-news__item--content h2 a{
	color: #1C0E2E;
	margin: 0;
	text-transform: uppercase;
}
.main-news__item--content h2 a:hover {
	color: #5E0096;
}
.main-news__item--content p.entry-date {
	font-size: 12px;
	color: #9794AD;
	font-style: italic;
}
.main-news__item--content p.entry-date span {
	color: #5E0096;
}
.main-news__item--thumbnail {
	width: 25%;
}
.main-news__item--thumbnail img {
	max-width: 100%;
}
.main-news a.see-more {
	font-size: 14px;
	color: #3F3362;
	border: 1px solid #9A3DD7;
	border-radius: 40px;
	padding: 10px 24px;
	margin: 0 auto;
	display: table;
}
.main-news a.see-more:hover {
	background: #9A3DD7;
	color: #fff;
}
/*CSS single*/
.single-content {
	position: relative;
}
.single-content h1 {
	font-family: 'Taviraj', serif;
	font-size: 28px;
	color: #1C0E2E;
	margin: 0;
}
.single-content p.entry-date {
	font-size: 12px;
	font-style: italic;
	color: #9794AD;
}
.single-content p.entry-date span {
	color: #5E0096;
}
.single-content .entry-content {
	font-size: 14px;
	color: #2A1C44;
}
.single-content .entry-content h2 {
	font-family: 'Taviraj', serif;
	font-size: 14px;
	color: #1C0E2E;
	text-transform: uppercase;
	margin: 30px 0 15px;
}
.single-content .entry-content img {
	margin: 15px auto;
	display: table;
	max-width: 100%;
}
.single-content .entry-content {
	border-bottom: 1px solid rgba(154, 61, 215, 0.2);
}
.main-menu__inner li img {
	max-width: 100%;
}
/*CSS MOBILE*/
@media all and ( min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}
@media all and ( min-width: 992px) {
	.home-menu__inner {
		grid-template-columns: repeat(3, 1fr);
	}
	.home-service__wrap,
	.site-footer__wrap {
		grid-template-columns: repeat(4, 1fr);
	}
}
@media all and ( max-width: 991px ) {
	.menu-toggle {
		display: block;
		background: none;
		border: 0;
		order: 2;
	}
	.menu-toggle svg {
		width: 20px;
		height: 20px;
		fill: #fff;
	}
	.menu-toggle:focus {
		outline: 0
	}
	.nav {
		opacity: 0;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-ms-transform: translateX(100%);
		transform: translateX(100%);
		-webkit-transform: translateX(100%);
		position: fixed;
		background: #1c0e2e;
		top: 65px;
		z-index: 9;
		width: 100%;
	}
	.nav.is-open {
		opacity: 1;
		visibility: visible;
		-ms-transform: translateY(0);
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-webkit-box-shadow: -3px 0px 5px rgb(0 0 0 / 30%);
		box-shadow: -3px 0px 5px rgb(0 0 0 / 30%);
	}
	.nav ul {
		flex-direction: column;
	}
	.about-us__wrap--content,
	.about-us__wrap--sidebar {
		width: 100%;
	}
	.about-us__form,
	.about-us__maps {
		width: 100%;
		padding: 30px 15px;
	}
	.main-menu__wrap {
		width: 100%;
	}
	
} 
@media all and ( max-width: 580px) {
	.home-menu__inner,
	.home-service__wrap,
	.site-footer__wrap {
		grid-template-columns: repeat(1, 1fr);
	}
	.about-us__image,
	.commit-footer {
		width: 100%;
	}
	.about-us__inner {
		width: 100%;
		padding: 15px 0;
	}
	.home-service__wrap {
		grid-gap: 30px;
	}
	.about-us__inner h1 {
		font-size: 30px;
	}
	.main-news__item--content {
		width: 100%;
		padding: 0;
		order: 2;
	}
	.main-news__item--thumbnail {
		width: 100%;
		padding: 0 0 15px;
		order: 1;
		text-align: center;
	}
	.main-news__item--thumbnail img {
		margin: 0 auto;
	}
	.main-news {
		padding: 15px;
	}
}